.container{
    background-image: url("https://i.pinimg.com/736x/6a/00/41/6a0041d0e1d980a8b0a9d2dd0cacb2c1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.heading{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 70px;
    color: rgb(238, 13, 13);
    margin-top: 20px;
    margin-bottom: 10px;
}

.counter{
    font-family: "Roboto";
    font-size: 50px;
    margin-top: 10px;
}

.button{
    font-size: 15px;
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color:rgb(237, 9, 237);
}